.brand__name {
    z-index: 1000;
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    img {
        position: fixed;
        right: 10px;
        top: 15px;
        height: 2rem;
        transform: translate3d(0, 0, 0);
    }
}
.brand__name--home {
    img {
        right: unset;
        top: 10px;
        left: 10px;        
    }
}