/*PERFUME__CONTAINERPRESENTAION*/
.perfume__containerPresentation {
    position: relative;
    height: 100%;
    width: 100%;    
}

/*PERFUME__CONTAINER*/
.perfume__container {
    position: relative;
    height: 100vh;
    overflow-y: hidden;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
}

/* PERFUME__CONTAINERANIMATION*/
.perfume__containerAnimation {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;    
}
.perfume__containerAnimation--intense {
    img {
        width: 65px;
    }
}
/*PERFUME__NAME*/
.perfume__name {
    font-size: 7vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 10px;
}
.perfume__name--optimiste {
    color: $yellow;
}
.perfume__name--intense  {
    color: black;
}
.perfume__name--energique {
    color: $red;
}
.perfume__name--puissant {
    color: $blue;
}
.perfume__name--pur {
    color: $green;
}

/*PERFUME__IMAGECONTAINER*/
.perfume__imageContainer {
    @include image-container();
}

/*PERFUME__IMAGE*/
.perfume__image {
    @include image-handler();
}

/*PERFUME__DISCOVER*/
.perfume__discover--energique {
    @include discover-button($red)
}
.perfume__discover--intense {
    @include discover-button($black)
}
.perfume__discover--optimiste {
    @include discover-button($yellow)
}
.perfume__discover--puissant{
    @include discover-button($blue)
}
.perfume__discover--pur {
    @include discover-button($green)
}

/*PERFUME_CANVAS*/
.perfume__canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;   
}