.smells {
    align-self: flex-end;
    z-index: -10;
    width: 70%;
    padding: 40px 40px 80px;
    background-color: $white;
    @include medium {
        order: 5;
        width: 50%;
        padding: 60px 40px;
    }
    @include large {
        padding: 80px 40px;
    }
}

.smells--optimiste {
    background-color: $yellow;
    color: $white;
}

.smells--puissant {
    background-color: $blue;
    color: $white;
}

.smells--energique {
    background-color: $red;
    color: $white;
}

.smells--pur {
    background-color: $white;
    box-shadow: $boxShadow;
    color: $black;
}

.smells--intense {
    background-color: $black;
    color: $white;
}

.smells__txt {
    display: inline-block;
    margin-bottom: 20px;
    line-height: 1.25;
    @include font-settings($roboto, 16px, 500); 
    @include medium {
        font-size: 20px;
    }

    &:last-child {
        margin-bottom: 0;
    }    
}

.smells__btn {
    color: $red;
}
.smells__btn--puissant {
    color: $yellow;
}

.smells__btn--energique {
    color: $yellow;
}