.words {
    width: 60%;
    align-self: flex-end;
    margin: 40px 0 100px;
    @include font-settings($montserrat, 24px, 600);

    @include medium {
        order: 3;
        font-size: 48px;
        font-weight: 900;
    }

    @include large {
        font-size: 60px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0%;
        left: -100%;
        display: block;
        width: 150%;
        height: 125%;
        background-image: url('../img/parfumBlue.png');
        background-repeat: no-repeat;
        background-size: contain;
        @include large {
            height: 100%;
            top: -20%;
        }
    }
}

.words--optimiste {
    position: relative;
    color: $yellow;

    &:before {
        background-image: url('../img/parfumBlue.png');
    }
}

.words--puissant {
    position: relative;
    color: $blue;

    &:before {
        background-image: url('../img/parfumBlue.png');
    }
}

.words--energique {
    position: relative;
    color: $red;

    &:before {
        background-image: url('../img/parfumBlue.png');
    }
}

.words--pur {
    position: relative;
    color: $green;

    &:before {
        background-image: url('../img/parfumBlue.png');
    }
}

.words--intense {
    position: relative;
    
    &:before {
        background-image: url('../img/parfumBlue.png');
    }
}

.words__word {
    margin: 20px 0;
    @include medium {
        margin: 30px;
    }
}
.words__word--important {
    font-weight: 900;
}