.home__first {
    height: 100vh;
}

.first__container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;

    h1 {
        font-size: 2rem;
        font-family: Montserrat, "sans-serif";
        font-weight: bold;
        margin-bottom: 15px;
        max-width: 400px;
        z-index: inherit;

        @media screen and (min-width: 350px){
            font-size: 3rem;
        }
    }
    p {
        font-size: 1rem;
        font-family: 'Roboto', "sans-serif";
        font-weight: normal;
        max-width: 380px;
        margin: 15px;
        z-index: inherit;
    }
}

/****************************************
SQUARES
*******************************************/

.first__squares {
    background-color: transparent;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.square {
    position: absolute;
    height: 300px;
    width: 300px;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}
.squares__1 {
    @extend .square;
    background-color: $yellow;
    top: 110px;
    right: calc(150px + 50vw);
}

.squares__2 {
    @extend .square;
    background-color: $black;
    top: 280px;
    right: calc(120px + 70vw);
}

.squares__3 {
    @extend .square;
    background-color: $red;
    top: calc(60vh + 110px);
    right: calc(20vw - 150px);
}

.squares__4 {
    @extend .square;
    background-color: $blue;
    top: 34rem;
    right: calc(40% - 20rem)
}