* {
	box-sizing: border-box;
}
body {
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    height:100%;
    overflow:auto
}

.fade-out {
    display: none;
    animation: fade-out 0.2s ease-in forwards;
}
.fade-in {
    opacity: 0;
    animation: fade-in 0.3s 0.2s ease-in forwards ;    
}
.js-paralax {
    will-change: transform;
}