@import 'home/home__first';
@import 'home/home__blue';
@import 'home/home__black';
@import 'home/home__red';
@import 'home/home__yellow';
@import 'home/home__white';
@import 'home/home__last';

body {
    margin: 0;
    overflow-y: hidden;
}

.home__container {
    overflow-y: hidden;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    background-color: #fff;
    position: absolute;
    width: 100vh;
    height: 100vw;

    .home__box {
        width: 700vw;
        height: 100vh;
        display: flex;
        overflow: hidden;
        > div {
            width: 100vw;
            height: 100vh;
        }
    }
}

.home__container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.home__wrapper {
    background-color: transparent;
}

/**
 * TOPBAR NAV
 */
.brand-name {
    z-index: 1000;
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    img {
        position: fixed;
        top: 10px;
        left: 10px;
        height: 2rem;
        transform: translate3d(0, 0, 0);
    }
}

/**
 * INSTRUCTIONS
 */
.home__instruction {
    transform: translate3d(0, 0, 0);
    position: fixed;
    display: flex;
    width: 100vw;
    bottom: 5vh;
    text-align: center;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    color: #CFCFCF;
}

.instructions__text {
    margin: 1rem;
}