html {
	font-family: 'Roboto', "sans-serif";
	font-weight: 600;
}
body {
    margin: 0;
    overflow-y: hidden;
}

.home__container {
    overflow-y: hidden;
    overflow-x: hidden;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    background-color: #fff;
    position: absolute;
    width: 100vh;
    height: 100vw;
    .home__box {
        width: 500vw;
        height: 100vh;
        display: flex;
        > div {
            width: 100vw;
            height: 100vh;
            /*max-width: 600px;*/
        }
    }
}

.home__container2 {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.home__wrapper {
    background-color: #45ccff;
}

.one {
    background-color: #fff;
    h1 {
        position: relative;
        font-size: 2.5em;
        padding-left: 20px;
        margin-top: 20vh;
        width: 90vw;
        max-width: 600px;
    }
    p {
        position: relative;
        width: 90vw;
        padding-left: 25px;
        max-width: 600px;
    }
}

.brand-name {
    z-index: 1000;
    position: fixed;
    text-decoration: none;
    font-size: 1.5rem;
    img {
        position: fixed;
        top: 10px;
        left: 10px;
        height: 2rem;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.two {
  background-color: #fff;
}

/****************************************
BULLES
*******************************************/

.bubble {
    position: absolute;
    animation: move 25s linear infinite;
    opacity: 0;
}

.bubble__size1{
    width: 20px;
}

.bubble__size2{
    width: 15px;
}

.bubble__size3{
    width: 22px;
}

.bubble:nth-of-type(3n + 1) { margin-left: 75px; }

.bubble:nth-of-type(5n + 1) { animation-delay: 0s; animation-duration: 26s; margin-left: 20%;}
.bubble:nth-of-type(5n + 2) { animation-delay: 0s; animation-duration: 29s; margin-left: 75%;}
.bubble:nth-of-type(5n + 3) { animation-delay: 0s; animation-duration: 20s; margin-left: 35%;}
.bubble:nth-of-type(5n + 4) { animation-delay: 0s; animation-duration: 24s; margin-left: 12%;}
.bubble:nth-of-type(5n + 5) { animation-delay: 0s }
.bubble:nth-of-type(5n + 6) { animation-delay: 0s; animation-duration: 26s; margin-left: 20%;}
.bubble:nth-of-type(5n + 7) { animation-delay: 0s; animation-duration: 28s; margin-left: 70%;}
.bubble:nth-of-type(5n + 8) { animation-delay: 0s; animation-duration: 13s; margin-left: 39%;}
.bubble:nth-of-type(5n + 9) { animation-delay: 0s; animation-duration: 26s; margin-left: 12%;}
.bubble:nth-of-type(5n + 10) { animation-delay: 5s }

.bubble:nth-of-type(5n + 11) { animation-delay: 0s; animation-duration: 12s; margin-left: 10%;}
.bubble:nth-of-type(5n + 12) { animation-delay: 0s; animation-duration: 18s; margin-left: 20%;}
.bubble:nth-of-type(5n + 13) { animation-delay: 0s; animation-duration: 21s; margin-left: 60%;}
.bubble:nth-of-type(5n + 14) { animation-delay: 0s; animation-duration: 22s; margin-left: 12%;}
.bubble:nth-of-type(5n + 15) { animation-delay: 0s }
.bubble:nth-of-type(5n + 16) { animation-delay: 0s; animation-duration: 24s; margin-left: 11%;}
.bubble:nth-of-type(5n + 17) { animation-delay: 0s; animation-duration: 18s; margin-left: 75%;}
.bubble:nth-of-type(5n + 18) { animation-delay: 0s; animation-duration: 15s; margin-left: 65%;}
.bubble:nth-of-type(5n + 19) { animation-delay: 8s; animation-duration: 26s; margin-left: 76%;}
.bubble:nth-of-type(5n + 20) { animation-delay: 5s }

.bubble:nth-of-type(5n + 21) { animation-delay: 1s; animation-duration: 15s; margin-left: 13%;}
.bubble:nth-of-type(5n + 22) { animation-delay: 2s; animation-duration: 18s; margin-left: 15%;}
.bubble:nth-of-type(5n + 23) { animation-delay: 0s; animation-duration: 20s; margin-left: 12%;}
.bubble:nth-of-type(5n + 24) { animation-delay: 0s; animation-duration: 22s; margin-left: 11%;}
.bubble:nth-of-type(5n + 25) { animation-delay: 5s }
.bubble:nth-of-type(5n + 26) { animation-delay: 0s; animation-duration: 26s; margin-left: 20%;}
.bubble:nth-of-type(5n + 27) { animation-delay: 0s; animation-duration: 17s; margin-left: 18%;}
.bubble:nth-of-type(5n + 28) { animation-delay: 0s; animation-duration: 15s; margin-left: 16%;}
.bubble:nth-of-type(5n + 29) { animation-delay: 0s; animation-duration: 26s; margin-left: 10%;}
.bubble:nth-of-type(5n + 30) { animation-delay: 0s }

.bubble:nth-of-type(5n + 31) { animation-delay: 0s; animation-duration: 16s; margin-left: 22%;}
.bubble:nth-of-type(5n + 32) { animation-delay: 0s; animation-duration: 15s; margin-left: 27%;}
.bubble:nth-of-type(5n + 33) { animation-delay: 0s; animation-duration:  6s; margin-left: 23%;}
.bubble:nth-of-type(5n + 34) { animation-delay: 0s; animation-duration: 26s; margin-left: 21%;}
.bubble:nth-of-type(5n + 35) { animation-delay: 0s }
.bubble:nth-of-type(5n + 36) { animation-delay: 0s; animation-duration: 26s; margin-left: 22%;}
.bubble:nth-of-type(5n + 37) { animation-delay: 0s; animation-duration: 114s;margin-left: 27%;}
.bubble:nth-of-type(5n + 38) { animation-delay: 0s; animation-duration: 10s; margin-left: 23%;}
.bubble:nth-of-type(5n + 39) { animation-delay: 0s; animation-duration: 26s; margin-left: 22%;}
.bubble:nth-of-type(5n + 40) { animation-delay: 5s }

.bubble::before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 20%;
    margin-left: 50px;
}

.bubble::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 20%;

}

@keyframes move {
    0% {
        opacity: 1;
        bottom: -100%;
        left: 20%;
    }
    100% {
        opacity: 1;
        bottom: 100%;
        left: 20%;
    }
}

/****************************************
PARFUM & NAME
*******************************************/

.presentation-parfum-blue__container{
  position: relative;
  height: 45em;
  width: 100%;
}

.parfum-blue__container{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  text-align: center;
  z-index: 3;
  overflow-y: hidden;
}

.parfum-blue__name{
  font-size: 7vh;
  color: blue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.parfum-blue__image{
  width: 50vw;
  max-width: 600px;
}











.three {
  background-color: #edde05;
}

.four {
  background-color: #e84b30;
}