@keyframes blue__move {
    100% {
        transform: translate3d(0, -110vh, 0);
    }
}


@keyframes translate {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-5px);
    }
}

@keyframes rotateFern {
    0% {
        transform: rotateZ(-38deg);
    }
    100% {
        transform: rotateZ(-42deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes chocolat1 {
    100%{transform: translate3d(0, 110vh, 0) rotate(-40deg);}
}
@keyframes chocolat2 {
    100%{transform: translate3d(0, 110vh, 0) rotate(60deg);}
}
@keyframes chocolat3 {
    100%{transform: translate3d(0, 110vh, 0) rotate(-30deg);}
}
@keyframes chocolat4 {
    100%{transform: translate3d(0, 110vh, 0) rotate(-80deg);}
}
@keyframes chocolat5 {
    100%{transform: translate3d(0, 110vh, 0) rotate(80deg);}
}
@keyframes chocolat6 {
    100%{transform: translate3d(0, 110vh, 0) rotate(-180deg);}
}
@keyframes chocolat7 {
    100%{transform: translate3d(0, 110vh, 0) rotate(120deg);}
}
@keyframes chocolat8 {
    100%{transform: translate3d(0, 110vh, 0) rotate(-100deg);}
}



@keyframes mandarine1{
    100%{transform: translate3d(0, 110vh, 0) rotate(-40deg);}
}
@keyframes mandarine2{
    100%{transform: translate3d(0, 110vh, 0) rotate(60deg);}
}
@keyframes mandarine3{
    100%{transform: translate3d(0, 110vh, 0) rotate(-30deg);}
}
@keyframes mandarine4{
    100%{transform: translate3d(0, 110vh, 0) rotate(-80deg);}
}
@keyframes mandarine5{
    100%{transform: translate3d(0, 110vh, 0) rotate(80deg);}
}
@keyframes mandarine6{
    100%{transform: translate3d(0, 110vh, 0) rotate(-180deg);}
}
@keyframes mandarine7{
    100%{transform: translate3d(0, 110vh, 0) rotate(120deg);}
}
@keyframes mandarine8{
    100%{transform: translate3d(0, 110vh, 0) rotate(-100deg);}
}

@keyframes flower-1 {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}

@keyframes flower-2 {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}

@keyframes flower-3 {
    0% {transform: translateY(-9px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-9px);}

}

@keyframes flower-4 {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}

@keyframes flower-5 {
    0% {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}

@keyframes flower-6 {
    0%  {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}

@keyframes flower-7 {
    0%  {transform: translateY(-10px);}
    50% {transform: translateY(8px);}
    100%{transform: translateY(-10px);}
}