@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('/fonts/#{$file-path}.woff2');
      src: url('/fonts/#{$file-path}.woff') format('woff'),
           url('/fonts/#{$file-path}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face(Montserrat, Monserrat-SemiBold, semi-bold, normal);
@include font-face(Montserrat, Monserrat-Bold, bold, normal);
@include font-face(Montserrat, Monserrat-Black, black, normal);
@include font-face(Roboto, Roboto-Light, light, normal);
@include font-face(Roboto, Roboto-Medium, medium, normal);
@include font-face(Roboto, Roboto-Regular, regular, normal);

// supprimer format ttf?
