@mixin mandarine($left) {
    position: absolute;
    top: -60px;
    left: $left;
    transform-origin: center;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    width: 50px;
}