include ../partials/header.pug
body#body
    .home__container
        .home__container2
            a#logo.brand-name(href='#')
                img(src='./img/logo.png', alt='Lacoste Logo')
            .home__instruction
                i.icon-left-open-big
                i.icon-left-open-big
                span.instructions__text Faites glisser sur le coté
                i.icon-right-open-big
                i.icon-right-open-big
            #wrapper.home__box.home__wrapper
                .home__first
                    .first__squares
                        .squares__1
                        .squares__2
                        .squares__3
                        .squares__4
                    .first__container
                        h1 Eau de Parfum L.12. 12
                        p
                            | Une collection qui s’adapte en fonction des envies, de l'humeur ou des saisons.
                            | Lacoste revient à ses origines avec ce parfum L.12.12 directement inspiré par l'emblématique polo de la marque.
                        p
                            | La maison Lacoste a ici tenté de restituer une certaine idée de cette fragrance se veut à l’image du polo blanc créé par René Lacoste :
                            | une élégance audacieuse et sportive.
                .presentation-parfum-yellow__container#yellow
                    canvas.parfum-yellow__canvas
                    .parfum-yellow__container
                        p.parfum-yellow__name
                            | Optimiste
                        .parfum-yellow__image-container
                            img(src="./img/parfumYellow.png", alt="Parfum Jaune").parfum-yellow__image
                            a.discover__yellow(href="./parfum-optimiste.html")
                                | Découvrir

                .presentation-parfum-blue__container#blue
                    .bubbles
                        - var i = 0
                        while i < 2
                            each val in [2, 3, 1, 2, 1, 3, 1, 1, 2, 3]
                                .bubble
                                    img(src="./img/bulle.png", alt="", class="bubble__size" + val)
                            - i++
                    .parfum-blue__container
                        p.parfum-blue__name
                            | Puissant
                        .parfum-blue__image-container
                            img(src="./img/parfumBlue.png", alt="Parfum Jaune").parfum-blue__image
                            a.discover__blue(href="#")
                                | Découvrir

                .presentation-parfum-red__container
                    .parfum-red__mandarines
                        - var i = 1
                        each val in [1, 2, 1, 1, 2, 2, 1, 2]
                            img(src="./img/mandarine.png", alt="", class="mandarine-" + i )
                            - i++
                    .parfum-red__container
                        p.parfum-red__name
                            | Energique
                        .parfum-red__image-container
                            img(src="./img/parfumRed.png", alt="Parfum Jaune").parfum-red__image
                            a.discover__red(href="#")
                                | Découvrir

                .presentation-parfum-white__container
                    .parfum-white__flowers
                        - var i = 1
                        while i <= 7
                            img(src="/img/flower.png", alt="", class="flower-" + i)
                            - i++
                    .parfum-white__container
                        p.parfum-white__name
                            | Pur
                        .parfum-white__image-container
                            img(src="./img/parfumWhite.png", alt="Parfum Blanc").parfum-white__image
                            a.discover__white(href="#")
                                | Découvrir

                .presentation-parfum-black__container
                    .parfum-black__chocolates
                        - var i = 1
                        each val in [1, 2, 1, 1, 2, 2, 1, 2]
                            img(src="./img/chocolat-" + val + ".png", alt="", class="chocolat-" + i )
                            - i++
                    .parfum-black__container
                        p.parfum-black__name
                            | Intense
                        .parfum-black__image-container
                            img(src="./img/parfumBlack.png", alt="Parfum Jaune").parfum-black__image
                            a.discover__black(href="#")
                                | Découvrir

                .presentation-menu__container
                    ul.menu__container
                        li
                            a.yellow(href="#") Optimiste
                        li
                            a.blue(href="#")   Puissant
                        li
                            a.red(href="#")    Energique
                        li
                            a.green(href="#")  Pur
                        li
                            a.black(href="#")  Intense

include ../partials/footer.pug

