include ../partials/header.pug
body#body
    .home__container
        .home__container2
            a#logo.brand-name(href='#')
                img(src='/img/logo.png', alt='Lacoste Logo')
            #wrapper.home__box.home__wrapper
                .home__first
                    .first__squares
                        .squares__1
                        .squares__2
                        .squares__3
                        .squares__4
                    .first__container
                        h1 Eau De Parfum L.12. 12
                        p
                            | Une collection qui s’adapte en fonction des envies, de l'humeur ou des saisons.
                            | Lacoste revient à ses origines avec ce parfum L.12.12 directement inspiré par l'emblématique polo de la marque.
                        p
                            | La maison Lacoste a ici tenté de restituer une certaine idée de cette fragrance se veut à l’image du polo blanc créé par René Lacoste :
                            | une élégance audacieuse et sportive.

                .presentation-parfum-blue__container
                    .parfum-blue__container
                        p.parfum-blue__name
                            | Puissant
                        img(src="/img/parfumBlue.png", alt="Parfum Bleu").parfum-blue__image
                    .bubbles
                        - var i = 0
                        while i < 3
                            each val in [2, 3, 1, 2, 1, 3, 1, 1, 2, 3]
                                .bubble
                                    img(src="/img/bulle.png", alt="", class="bubble__size" + val)
                            - i++

                .presentation-parfum-black__container
                    .parfum-black__container
                        p.parfum-black__name
                            | Intense
                        img(src="/img/parfumBlack.png", alt="Parfum Bleu").parfum-black__image

                    .parfum-black__chocolates
                        - var i = 1
                        each val in [1, 2, 1, 1, 2, 2, 1, 2]
                            img(src="/img/chocolat-" + val + ".png", alt="", class="chocolat-" + i )
                            - i++

                .presentation-parfum-red__container
                    .parfum-red__container
                        p.parfum-red__name
                            | Puissant
                        img(src="/img/parfumRed.png", alt="Parfum Rouge").parfum-red__image

                    .parfum-red__mandarines
                        - var i = 1
                        each val in [1, 2, 1, 1, 2, 2, 1, 2]
                            img(src="/img/mandarine.png", alt="", class="mandarine-" + i )
                            - i++

                .four 4
                .two 5
include ../partials/footer.pug

