include ../partials/header.pug
body#body
    .container
        .container2
            a#logo.brand-name(href='#')
                img(src='/img/logo.png', alt='Lacoste Logo')
            #wrapper.box.wrapper
                .one
                    h1 Eau De Parfum L.12. 12
                    p
                        | Lacoste retourne à ses origines avec ce parfum directement inspiré par l'emblématique polo de la marque.
                    p
                        | Lacoste retourne à ses origines avec ce parfum directement inspiré par l'emblématique polo de la marque.
                .three 2
                .four 3
                .two 4
                .three 5
include ../partials/footer.pug
