include ../partials/header.pug

body
    .container
        section.titles.titles--intense
            .js-paralax(data-speed='6')
            h1.titles__title
                | Intense
            span.titles__subtitle
                | Eau de Parfum - L. 12. 12.

        section.description.description--up.description--intense
            .js-paralax(data-speed='2')
            div.description__blockColor.description__blockColor--intense

            
            p.description__txt
                | Un parfum longue durée, intensément Lacoste !

            p.description__txt
                | Noir apporte une nouvelle dimension à la collection de parfums et offre à l'homme un ensemble complet.

        section.words.words--intense

            ul
                li.words__word
                    | Elegance
                li.words__word
                    | Audace
                li.words__word
                    | Soirée
                li.words__word
                    | Harmonie
                li.words__word.words__word--important
                    | Soirée d'été

        section.smells.smells--intense
            .js-paralax(data-speed='0.9')
            p.smells__txt
                | Pour les 80 ans de la marque au crocodile, c’est donc un parfum plus mystérieux et boisé qui vient enrichir la collection directement inspirée du célèbre polo L.12.12 Lacoste.

            a.smells__btn(href="#")
                | Pyramide Olfactive

        section.quote.quote--up.quote--intense
            .js-paralax(data-speed='2')
            blockquote.quote__txt
                p
                    | " Passez du jour à la nuit en changeant de parfum. " 
            span.quote__author
                | Lacoste

        section.texte.texte--intense

            p.texte__txt
                | Habillez votre peau d'une senteur intense et rafraîchissante, évoquant les chaudes soirées d'été.

        include ../partials/footerParfum.pug
        
include ../partials/footer.pug
