include ../partials/header.pug

body
    .container--optimiste
        section.titles.titles--optimiste
            h1.titles__title
                | Optimiste
            span.titles__subtitle
                | Eau de Parfum - L. 12. 12

        section.description.description--up
            p.description__txt
                | La senteur épicée de l’Eau de Lacoste Jaune ! Habillez votre peau d'une senteur légère et pétillante.
            p.description__txt
                | Jaune est un concentré de bonheur et de joie. En effet nulle couleur n'est plus joyeuse que le jaune : c'est la couleur du soleil, de la fête et de la joie.

        section.words.words--optimiste
            ul
                li.words__word
                    | Joyeux
                li.words__word
                    | Boisé
                li.words__word
                    | Sportif
                li.words__word
                    | Gentleman
                li.words__word.words__word--important
                    | Explosif !

        section.smells.smells--optimiste.smells--end
            p.smells__txt
                | Un parfum dynamisant pour les gentleman-sportif qui contient du pamplemousse associé à un accord tonique et effervescent.
            a.smells__btn(href="#")
                | Pyramide Olfactive

        section.quote.quote--up.quote--optimiste
            blockquote.quote__txt
                p
                    | " L'optimisme d'un polo jaune vif un matin de grand soleil. "
            span.quote__author
                | Lacoste

        section.texte.texte--optimiste
            p.texte__txt
                | Eau de Lacoste Jaune est un parfum fruité aromatique ; une création vivifiante et optimiste. Aussi, comme le laisse à penser son coloris, la déclinaison jaune de ce parfum sonne comme étant un concentré d'optimisme.

        include ../partials/footerParfum.pug
        
include ../partials/footer.pug
