include ../partials/header.pug

body
    .container
        section.titles.titles--energique.js-paralax(data-speed='6')
            h1.titles__title
                | Energique
            span.titles__subtitle
                | Eau de Parfum - L. 12. 12.

        section.description.description--up.description--energique.js-paralax(data-speed='2')
            div.description__blockColor.description__blockColor--energique
            
            p.description__txt
                | Messieurs, osez le gingembre !
            p.description__txt
                | Inspirée du célèbre polo Lacoste, vient enrichir la collection d'une autre déclinaison masculine énergique, aux notes épicées. 

        section.words.words--energique
            div.words__flacon.js-paralax(data-speed='2.5')
                img(src="../img/perfume_red_750.png")(srcset="../img/perfume_red_250.png 250w, ../img/perfume_red_500.png 500w, ../img/perfume_red_750.png 750w")(sizes="(min-width: 1024px) 50vw,(min-width: 768px) 50vw, 50vw")
            ul.words__list
                li.words__word
                    | Energique
                li.words__word
                    | Hommage
                li.words__word
                    | Dynamisme
                li.words__word
                    | Arôme
                li.words__word.words__word--important
                    | Vitalité

        section.smells.smells--energique.js-paralax(data-speed='0.9')
            div.js-toggle-content
                p.smells__txt
                    | La couleur rouge du verre évoque l’énergie et la vitalité de cette composition boisée, épicée et fraîche. 

            div.js-toggle-content.hidden
                span.smells__title
                    | FAMILLE OLFACTIVE - Boisé - Épicé

                div.smells__infos
                    span.smells__title
                        | Note de tête
                    span.smells__content
                        | mangue, mandarine, orange, thé

                div.smells__infos
                    span.smells__title
                        | Note de coeur
                    span.smells__content
                        | gingembre, cardamome, poivre noir

                div.smells__infos
                    span.smells__title
                        | Note de fond
                    span.smells__content
                        | labdanum, ciste, benjoin            

            a.smells__btn.smells__btn--energique(href="#").js-btn-toggle-content
                | Pyramide Olfactive

        section.quote.quote--up.quote--energique.js-paralax(data-speed='2')
            blockquote.quote__txt
                p
                    | "Une bouffée d’énergie … rouge."
            span.quote__author
                | Lacoste

        section.texte.texte--energique
            p.texte__txt.texte__txt--energique
                | L'Eau de Lacoste L.12.12 Rouge s’ouvre sur des notes de liqueur de mandarine, mangue et sur un accord ‘thé Rooïbos rouge’.

        include ../partials/footerParfum.pug
        
include ../partials/footer.pug
