section.footerParfum.footerParfum--up
	.footerParfum__title
		.footerParfum__titleImg
			img(src='/img/logo.png', alt='Lacoste Logo')
		.footerParfum__titleTxt
			| Découvrez aussi :
	nav.footerParfum__nav
		ul
			li
				a(href='#').footerParfum__navItem.footerParfum__navItem--optimiste
					| Optimiste
			li
				a(href='#').footerParfum__navItem.footerParfum__navItem--puissant
					| Puissant
			li
				a(href='#').footerParfum__navItem.footerParfum__navItem--energique
					| Energique
			li
				a(href='#').footerParfum__navItem.footerParfum__navItem--pur
					| Pur
			li
				a(href='#').footerParfum__navItem.footerParfum__navItem--intense
					| Intense
