doctype html
head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title Gulp test
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700,900" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='css/styles.css')

