doctype html
head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title Lacoste L.12.12
    link(rel='stylesheet', type='text/css', href='./css/styles.css')

